Repository Camilin1904/microservice-app-example: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-4.yml, azure-pipelines-TODOs-API.yml

azure-pipelines-4.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-TODOs-API.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

bypass the proxy
  frontend/src/auth.js
Due: azure-pipelines-4.yml

feat: add external configuration store in todos api
  todos-api/Dockerfile
  todos-api/docker-compose.yml
  todos-api/package-lock.json
  todos-api/package.json
  todos-api/server.js
Due: azure-pipelines-TODOs-API.yml

modifies the dockerfile to hopefully fix env varibles
  frontend/Dockerfile
  frontend/src/auth.js
Due: azure-pipelines-4.yml

rever changes
  frontend/Dockerfile
Due: azure-pipelines-4.yml

intebntiona error
  frontend/config/index.js
Due: azure-pipelines-4.yml

intentional error
  frontend/config/index.js
Due: azure-pipelines-4.yml

burned the dir
  frontend/config/index.js
Due: azure-pipelines-4.yml

burning it even harder
  frontend/src/auth.js
Due: azure-pipelines-4.yml

added cors header
  frontend/src/auth.js
Due: azure-pipelines-4.yml

me cago en todo
  frontend/src/auth.js
Due: azure-pipelines-4.yml

me cago eneslinter
  frontend/src/auth.js
Due: azure-pipelines-4.yml

aaaa
  frontend/src/auth.js
Due: azure-pipelines-4.yml

forgot something
  auth-api/main.go
Due: none

asasadfasda
  auth-api/main.go
Due: none

burn the correct url
  frontend/config/index.js
  frontend/src/auth.js
Due: azure-pipelines-4.yml

aaaaaaaaaaaa'
  auth-api/main.go
Due: none

bunr other urls
  frontend/config/index.js
Due: azure-pipelines-4.yml

reactivated the proxy to test
  frontend/src/auth.js
Due: azure-pipelines-4.yml

fix: several things
  frontend/config/index.js
  frontend/src/auth.js
  frontend/src/components/Todos.vue
  frontend/src/zipkin.js
  todos-api/todoController.js
Due: azure-pipelines-4.yml, azure-pipelines-TODOs-API.yml

Set up CI with Azure Pipelines
  azure-pipelines-5.yml
Due: none

Update azure-pipelines-5.yml for Azure Pipelines
  azure-pipelines-5.yml
Due: none

add cors to todos-api
  todos-api/package-lock.json
  todos-api/package.json
Due: azure-pipelines-TODOs-API.yml

cors
  todos-api/server.js
Due: azure-pipelines-TODOs-API.yml

change frontend
  frontend/src/components/Todos.vue
Due: azure-pipelines-4.yml

I hate eslinter
  frontend/src/components/Todos.vue
Due: azure-pipelines-4.yml

Set up CI with Azure Pipelines
  azure-pipelines-6.yml
Due: none

add log
  todos-api/todoController.js
Due: azure-pipelines-TODOs-API.yml

aaaa
  todos-api/todoController.js
Due: azure-pipelines-TODOs-API.yml

Update azure-pipelines-6.yml for Azure Pipelines
  azure-pipelines-6.yml
Due: none

add password env for redis
  log-message-processor/docker-compose.yml
  log-message-processor/main.py
  todos-api/docker-compose.yml
  todos-api/server.js
Due: azure-pipelines-TODOs-API.yml

Path conditions:
  azure-pipelines-4.yml: any of: frontend
  azure-pipelines-TODOs-API.yml: any of: todos-api
