Repository Lacragh/Microservicios-Cloud: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-3.yml, azure-pipelines-4.yml, azure-pipelines-TODOs-API.yml, azure-pipelines-log-message-processor.yml, azure-pipelines-users-API.yml

azure-pipelines-3.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-4.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-TODOs-API.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-log-message-processor.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-users-API.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndPush
    displayName: Build and Push Docker Image
    jobs:
    - job: Docker
      steps:
      - task: Docker@2
        displayName: Build and push image to ACR
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

Frontend code configuration
  auth-api/main.go
  frontend/config/index.js
  frontend/package.json
  frontend/src/auth.js
  frontend/src/components/Login.vue
  frontend/src/components/Todos.vue
  frontend/src/zipkin.js
Due: azure-pipelines-4.yml

deployment
  .github/workflows/deploy.yml
Due: none

update readme
  README.md
Due: none

update Pipeline
  .github/workflows/dev-pipeline.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

server.js
  todos-api/server.js
Due: azure-pipelines-TODOs-API.yml

Update dev-pipeline.yml
  .github/workflows/dev-pipeline.yml
Due: none

prueba
  frontend/src/components/Login.vue
  todos-api/server.js
Due: azure-pipelines-TODOs-API.yml

Update Login.vue
  frontend/src/components/Login.vue
Due: none

Path conditions:
  azure-pipelines-3.yml: any of: log-message-processor
  azure-pipelines-4.yml: any of: auth-api
  azure-pipelines-TODOs-API.yml: any of: todos-api
  azure-pipelines-log-message-processor.yml: any of: log-message-processor
  azure-pipelines-users-API.yml: any of: users-api
